@model List<User>

<h2>@ViewData["Title"]</h2>

<a asp-controller="User" asp-action="CreateUser">Create a new user</a>
<hr />
@foreach (User user in Model)
{
    <p>Name: @user.FirstName @user.LastName</p>
    <a asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id">Edit User</a>
    <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id">Delete User</a>
    <hr />
}